body {
  background: #09cf6a;
}


/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	body {
    background: red;
  }
}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
  body {
    background: #ad74ce;
  }
}
